CTBsegs
ctb-all-simp-running.txt
ctb-all-simp-segmented.txt
ctb-all-trad-running.txt
ctb-all-trad-segmented.txt
ctb8.0
stanford-segmenter-2017-06-09
UDsegs
UD-dev-simp-running.txt
UD-dev-simp-segmented.txt
UD-dev-trad-running.txt
UD-dev-trad-segmented.txt
UD-test-simp-running.txt
UD-test-simp-segmented.txt
UD-test-trad-running.txt
UD-test-trad-segmented.txt
UD-train-simp-running.txt
UD-train-simp-segmented.txt
UD-train-trad-running.txt
UD-train-trad-segmented.txt
models/yanshao/dev.txt
models/yanshao/test.txt
models/yanshao/train.txt
